* {
  margin: 0;
  padding: 0;
}
header {
  height: 454px;
  width: 100%;
}
.banner-section {
  display: block;
  width: auto;
  justify-content: space-between;
}
.banner-section img {
  position: absolute;
  height: 654px;
  width: 100%;
}
.banner-description {
  position: relative;
  padding: 50px;
  height: 219px;
  width: 269px;
  text-align: right;
  top: 209px;
  left: 60%;
  /* border: 1px solid red; */
}
.banner-description h3 {
  font-weight: 900;
  font-size: 39px;
  margin-bottom: 10px;
}
.banner-description p {
  margin-bottom: 14px;
  color: #706f6f;
}
.btn-primary {
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: #f15b22;
  color: #ffff;
  cursor: pointer;
}
main {
  margin-top: 331px;
}
.self-intro {
  display: flex;
  padding: 30px;
  gap: 150px;
  align-items: center;
  justify-content: center;
  margin-top: -50px;
}
.self-intro img {
  height: 500px;
}
.intro {
  height: 200px;
  width: 203px;
  text-align: left;
}
.intro h1 {
  font-weight: 900;
  margin-bottom: 10px;
}
.intro p {
  margin-bottom: 10px;
  color: #706f6f;
}
.intro ul {
  list-style: none;
  text-wrap: nowrap;
}
span {
  color: #16d887;
}
.plans {
  height: 100px;
  width: 800px;
  margin: 130px 350px;
  text-align: center;
}
.plans-description {
  display: flex;
  width: auto;
  justify-content: space-around;
  margin-top: 30px;
}
.plans h1 {
  font-size: 2em;
  font-weight: 900;
}
.plans-items p {
  color: #706f6f;
}
.contact-us {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 230px;
}

.contact-info {
  height: 180px;
  width: 50%;
  padding: 10px;
  background: url(../images/gradient2.png), url(../images/watch.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.contact-info h1 {
  margin-top: 40px;
  margin-bottom: 15px;
  width: 230px;
}
.page {
  margin: 130px;
}
.link-page {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.link-btn{
  padding: 20px;
  font-size: large;
  font-weight: bolder;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}
.link-btn a{
  text-decoration: none;
  color: #000;
}
.btn {
  padding: 8px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: #f15b22;
  color: #fff;
  cursor: pointer;
}
.btn-primary {
  padding: 8px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #f15b22;
  cursor: pointer;
}
footer {
  display: flex;
  height: 256px;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  margin-top: 130px;
  background-color: black;
  color: #fff;
}
.web-info {
  text-wrap: wrap;
  text-align: justify;
}
.description {
  width: 300px;
}
.email-section {
  padding: 10px;
  line-height: 50px;
}
#email {
  height: 25px;
  width: auto;
  padding: 5px;
  border: none;
}
